# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  i {actionId: ShowHoverInfo, description: Hover Info}
  a {actionId: ShowIntentionActions, description: Context Menu}
  o {actionId: RecentLocations, description: Recent Locations}
  n {actionId: NewElement, description: New Element}
  f {actionId: RecentFiles, description: Recent Files}
  x {
    description: Execute...
    bindings {
      b {actionId: BuildCurrentProject, description: Build}
        c {actionId: CleanSolution, description: Clean Solution}
      d {actionId: Debug, description: Debug}
      r {actionId: Run, description: Run}
    }
  }
  b {
    description: Bookmarks...
    bindings {
      b {actionId: ToggleBookmark, description: Toggle Bookmark}
      m {actionId: ToggleBookmarkWithMnemonic, description: Mnemonic Bookmark}
      l {actionId: ToggleBookmark, description: List Bookmarks}
    }
  }
  c {
    description: Code Navigation...
    bindings {
      a {actionId: InspectCode, description: Analyze}
      d {actionId: GotoDeclaration, description: Go to Declaration}
      f {actionId: ReformatCode, description: Reformat Code}
      i {actionId: GotoImplementation, description: Go to Implementation}
      s {actionId: FileStructurePopup, description: Jump In Structure}
      t {actionId: GoToTest, description: Go to Test}
      o {actionId: OptimizeImports, description: Optimize imports}
      u {actionId: ShowUsages, description: Show Usages}
    }
  }
  d {
    description: Debug...
    bindings {
      a {
        description: Attach...
        bindings {
          p {actionId: DebugAttachProcess, description: Process}
          r {actionId: DebugAttachRemote, description: Remote}
        }
      }
      b {actionId: ToggleLineBreakpoint, description: Toggle Breakpoint}
      b {actionId: StepInto, description: Step Into}
      l {actionId: ViewBreakpoints, description: View Breakpoints}
      o {actionId: StepOut, description: Step Out}
      q {actionId: StopDebugging, description: Stop Debugging}
      s {actionId: StepOver, description: Step Over}
    }
  }
  e {
    description: Errors...
    bindings {
      n {actionId: ReSharperGotoNextErrorInSolution, description: Go to Next}
      p {actionId: ReSharperGotoPrevErrorInSolution, description: Go to Prev}
    }
  }
  g {
    description: Git...
    bindings {
      b {actionId: Git.Branches, description: Show Branches}
      c {actionId: Vcs.Show.Local.Changes, description: Show Changes}
      f {actionId: Git.Fetch, description: Fetch}
      F {actionId: Git.Pull, description: Pull}
      w {actionId: Github.Open.In.Browser, description: Open on github}
      m {actionId: Git.Configure.Remotes, description: Manage remotes}
      r {actionId: Git.Rebase, description: Rebase}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Stash}
      l {actionId: Vcs.Show.Log, description: Show Log}
    }
  }
  t {
    description: Tool Windows...
    bindings {
      t {actionId: ToolWindowsGroup, description: List All}
      a {actionId: ActivateAIAssistantToolWindow, description: AI Assistant}
      b {actionId: ActivateBookmarksToolWindow, description: Bookmarks}
      c {actionId: HideAllWindows, description: Hide All}
      e {actionId: ActivateEndpointsToolWindow, description: Endpoints}
      f {actionId: ActivateProjectToolWindow, description: File Explorer}
      n {actionId: ActivateNuGetToolWindow, description: NuGet}
      p {actionId: ActivateProblemsViewWindow, description: Problems}
    }
  }
  r {
    description: Refactoring...
    bindings {
      r {actionId: Refactorings.QuickListPopupAction, description: Menu}
      n {actionId: RenameElement, description: Rename}
      m {actionId: ExtractMethod, description: Extract Method}
      v {actionId: IntroduceVariable, description: Introduce Variable}
      g {actionId: Generate, description: Code Generation}
      f {actionId: IntroduceField, description: Introduce Field}
      s {actionId: ChangeSignature, description: Change Signature}
    }
  }
  s {
    description: Search...
    bindings {
      s {actionId: FindInPath, description: Fuzzy}
      e {actionId: SearchEverywhere, description: Search Everywhere}
      r {actionId: ReplaceInPath, description: Fuzzy Replace}
      c {actionId: GotoClass, description: Go To Class}
      f {actionId: GotoFile, description: Go To File}
      v {actionId: GotoSymbol, description: Go To Symbol}
    }
  }
  z {
    description: Folding...
    bindings {
      c {actionId: CollapseAllRegions, description: Collapse All Regions}
      o {actionId: ExpandAllRegions, description: Expand All Regions}
    }
  }
}
