" Yank to end of the line with Y
nnoremap Y yg_

" Don't use Ex mode, use Q for formatting.
map Q gq

" Enable plugins
set argtextobj
set commentary
set easymotion
set exchange
set functiontextobj
set ideajoin
set highlightedyank
set matchit
set NERDTree
set vim-paragraph-motion
set peekaboo
set quickscope
set replacewithregister
set surround
set switch
set textobj-entire
set which-key

" Use system clipboard
set clipboard+=unnamed

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

"" -- Search Improvements --
set ignorecase
set smartcase
set incsearch
set hlsearch
set linenumber
set showmode
set showcmd
set visualbell

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>\

" Pane navigation
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l
nnoremap <A-k> <C-w>k
nnoremap <A-j> <C-w>j

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

" Easy visual indentation (Repeatable)
vnoremap < <gv
vnoremap > >gv

nmap s <Plug>(easymotion-prefix)
vmap s <Plug>(easymotion-prefix)

nnoremap <Space> :action LeaderAction<cr>
vnoremap <Space> :action LeaderAction<cr>
